@mixin font-family-regular{
    font-family: Roboto;
    font-weight: 400;
}

@mixin font-family-medium{
    font-family: Roboto;
    font-weight: 500;
}

@mixin font-family-bold{
    font-family: Roboto;
    font-weight:700;
}

@mixin font-family-light{
    font-family: Roboto;
    font-weight: 300;
}