$color-1: #3BA632;
$color-2: #CED9B9;
$color-3: #4D4D4D;
$color-4: #32912D;
$color-5: #94BF13;
$color-6: #EDF4DF;
$color-7: #F28822;
$color-8: #D6DE6A;
$color-9: #EAF2DA;
$color-10:#F7F9E1;
$color-11:#3AAA35;


$shadow-color-1: #00000080;
$shadow-color-2: #00000033;

$border-radius-1: 5px;
$border-radius-2: 3px;

$side-gap: 160px

