@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.current {
  background-color: #94BF13;
  border-radius: 50%;
  color: white !important;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 160px;
  height: 90px;
}
.menu-info div {
  display: flex;
  align-items: center;
}
.menu-info div input {
  min-width: 140px;
  width: calc(20vw + 50px);
  height: 40px;
  padding-left: 15px;
  border: 0;
}
.menu-info div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 0;
  border-left: 1px solid #CED9B9;
  cursor: pointer;
}
.menu-info > div:nth-child(2) {
  border: 1px solid #CED9B9;
}
.menu-info div:nth-child(3) a,
.menu-info div:nth-child(4) a,
.menu-info div:nth-child(5) > span {
  color: #4D4D4D;
  text-decoration: none;
}
.menu-info div:nth-child(3) a,
.menu-info div:nth-child(4) a {
  margin-left: 10px;
}
.menu-info div:nth-child(4) span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  translate: 15px -12px;
  width: 18px;
  height: 18px;
  background-color: #32912D;
  color: white;
  border-radius: 50%;
}
.menu-info div:nth-child(5) > span {
  margin-left: 10px;
}
.menu-info div:nth-child(3) > a,
.menu-info div:nth-child(5) > span {
  font-family: Roboto;
  font-weight: 400;
}
.menu-info div:nth-child(4) > a {
  font-family: Roboto;
  font-weight: 500;
}
.menu-info .language span {
  padding: 7px;
}
.menu-info .login,
.menu-info .cart,
.menu-info .language {
  cursor: pointer;
}

.dropdown-search-bar {
  position: relative;
}
.dropdown-search-bar .dropdown-search-bar-content {
  display: none;
  position: absolute;
  top: 50px;
  height: 608px;
  width: 670px;
  z-index: 10;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.dropdown-search-bar .dropdown-search-bar-content > div {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.dropdown-search-bar .dropdown-search-bar-content > div > hr {
  width: 100%;
  border: 1px solid #CED9B9;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0 20px 15px;
  cursor: pointer;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:first-child {
  display: flex;
  width: 55%;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:first-child img {
  height: 80px;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:first-child h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  margin-left: 30px;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:last-child {
  display: flex;
  flex-direction: row;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:last-child > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:last-child > .cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #94BF13, #3BA632);
  border-radius: 3px;
  cursor: pointer;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:last-child span:nth-child(1) {
  font-family: Roboto;
  font-weight: 400;
  display: inline;
  color: #3BA632;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:last-child span:nth-child(1) span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  width: 100px;
}
.dropdown-search-bar .dropdown-search-bar-content > div > div div:last-child .basic-price {
  font-family: Roboto;
  font-weight: 400;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories > div:first-child {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  background-color: #EAF2DA;
  padding: 15px 0;
  padding-left: 20px;
  margin-top: 10px;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 630px;
  margin: 0;
  padding: 0;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories div span {
  display: inline;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories > div:last-child {
  width: 100%;
  margin-top: 10px;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories > div:last-child > hr {
  width: 630px;
  border: 1px solid #CED9B9;
  margin: 0 20px;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories > div:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px !important;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories > div:last-child div > span {
  font-family: Roboto;
  font-weight: 500;
  color: black;
}
.dropdown-search-bar .dropdown-search-bar-content .dropdown-categories > div:last-child div a {
  font-family: Roboto;
  font-weight: 500;
  margin: 0;
  color: black;
}
.dropdown-search-bar .show {
  display: block;
}

.menu-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: #3BA632;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 0 160px;
  position: relative;
  width: 100%;
  height: 60px;
}
.menu-categories .mobile-menu-dropdown {
  display: none;
}
.menu-categories .mobile-navbar {
  display: none;
}
.menu-categories .mobile-navbar ul {
  list-style: none;
  display: flex;
}
.menu-categories .mobile-navbar ul li a {
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  color: white;
  font-size: 18px;
}
.menu-categories .category-link {
  display: flex;
}
.menu-categories .category-link-active {
  background-color: white;
}
.menu-categories .category-link-active img,
.menu-categories .category-link-active span {
  filter: invert(0%) sepia(16%) saturate(7497%) hue-rotate(187deg) brightness(0%) contrast(101%);
}
.menu-categories .category-navbar {
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  align-items: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  display: flex;
  color: white;
  cursor: pointer;
}
.menu-categories .category-navbar .category-navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}
.menu-categories .category-navbar .category-navbar-list .category-navbar-item:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #32912D;
}
.menu-categories .category-navbar .category-navbar-list .category-navbar-item:first-child img {
  padding-right: 20px;
}
.menu-categories .category-navbar .category-navbar-list .category-navbar-item:first-child a {
  display: flex;
  align-items: center;
  padding: 19px 30px 19px;
}
.menu-categories .category-navbar .category-navbar-list .category-navbar-item:last-child a {
  padding-right: 30px;
}
.menu-categories .category-navbar .category-navbar-list .category-navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-categories .category-navbar .category-navbar-list .category-navbar-item a {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.menu-categories .grid-menu-list-content {
  display: none;
  position: absolute;
  top: 60px;
  height: 560px;
  border-radius: 0 0 5px 5px;
  background-color: white;
  margin-right: 160px;
}
.menu-categories .grid-menu-list-content ul {
  font-family: Roboto;
  font-weight: 700;
  display: grid;
  list-style: none;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item6 item11 advertisement" "item2 item7 item12 advertisement" "item3 item8 item13 advertisement" "item4 item9 item14 advertisement" "item5 item10 item15 advertisement";
}
.menu-categories .grid-menu-list-content ul .grid-item {
  display: flex;
  align-items: center;
  width: 100% !important;
  padding: 15px 25px;
  text-transform: none;
}
.menu-categories .grid-menu-list-content ul .grid-item img {
  margin-right: 20px;
}
.menu-categories .grid-menu-list-content ul .grid-item a {
  text-decoration: none;
  color: black;
}
.menu-categories .grid-menu-list-content ul .item1 {
  grid-area: item1;
}
.menu-categories .grid-menu-list-content ul .item2 {
  grid-area: item2;
}
.menu-categories .grid-menu-list-content ul .item3 {
  grid-area: item3;
}
.menu-categories .grid-menu-list-content ul .item4 {
  grid-area: item4;
}
.menu-categories .grid-menu-list-content ul .item5 {
  grid-area: item5;
}
.menu-categories .grid-menu-list-content ul .item6 {
  grid-area: item6;
}
.menu-categories .grid-menu-list-content ul .item7 {
  grid-area: item7;
}
.menu-categories .grid-menu-list-content ul .item8 {
  grid-area: item8;
}
.menu-categories .grid-menu-list-content ul .item9 {
  grid-area: item9;
}
.menu-categories .grid-menu-list-content ul .item10 {
  grid-area: item10;
}
.menu-categories .grid-menu-list-content ul .item11 {
  grid-area: item11;
}
.menu-categories .grid-menu-list-content ul .item12 {
  grid-area: item12;
}
.menu-categories .grid-menu-list-content ul .item13 {
  grid-area: item13;
}
.menu-categories .grid-menu-list-content ul .item14 {
  grid-area: item14;
}
.menu-categories .grid-menu-list-content ul .item15 {
  grid-area: item15;
}
.menu-categories .grid-menu-list-content ul .item16 {
  display: flex;
  justify-content: center;
  height: 560px;
  grid-area: advertisement;
  background-color: #F7F9E1;
}
.menu-categories .grid-menu-list-content ul .item16 div {
  color: black;
}
.menu-categories .show {
  display: block;
}

.header-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 618px;
  background: transparent url(images/Background-Color.png) no-repeat center top padding-box;
  background-size: cover;
}
.header-bg .invisible {
  visibility: hidden;
}
.header-bg .slider-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header-bg .slider-buttons button {
  background: none;
  border: 0;
  margin: 0 30px;
  cursor: pointer;
}
.header-bg .slider-indicator {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.header-bg .slider-indicator div {
  width: 10px;
  height: 10px;
  background-color: #3BA632;
  border-radius: 50%;
  margin: 0 10px;
  margin-bottom: 10px;
}
.header-bg .slider-indicator div:nth-child(2) {
  background-color: #94BF13;
}

.traits-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 440px;
}
.traits-container .traits-box {
  text-align: center;
  width: 300px;
  height: 250px;
}
.traits-container .traits-box img {
  height: 90px;
}
.traits-container .traits-box h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}
.traits-container .traits-box p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

.offer {
  height: 972px;
  width: 100%;
  background: url(images/foto.png) no-repeat center center/cover;
  padding: 0 160px;
}
.offer h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  padding: 45px 0;
}
.offer .offer-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "product-1 product-2 offer-banner-1 offer-banner-1" "offer-banner-2 offer-banner-2 product-3 product-4";
}
.offer .offer-grid > .product-card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  height: 370px;
  border-radius: 5px;
  padding: 20px 20px;
  flex-direction: column;
  background-color: white;
  border: 1px solid #EDF4DF;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.offer .offer-grid > .product-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.offer .offer-grid > .product-card .upper-card-segment h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 0;
}
.offer .offer-grid > .product-card .upper-card-segment span {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.offer .offer-grid > .product-card .bottom-card-segment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 60px;
  padding-top: 20px;
}
.offer .offer-grid > .product-card .bottom-card-segment > div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.offer .offer-grid > .product-card .bottom-card-segment > div span:nth-child(1) {
  color: #3BA632;
  font-family: Roboto;
  font-weight: 400;
}
.offer .offer-grid > .product-card .bottom-card-segment > div span:nth-child(1) span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
}
.offer .offer-grid > .product-card .bottom-card-segment > div span:nth-child(2) {
  color: #4D4D4D;
  font-family: Roboto;
  font-weight: 400;
}
.offer .offer-grid div:nth-child(1) {
  grid-area: product-1;
}
.offer .offer-grid div:nth-child(2) {
  grid-area: product-2;
}
.offer .offer-grid div:nth-child(3) {
  grid-area: offer-banner-1;
}
.offer .offer-grid div:nth-child(4) {
  grid-area: offer-banner-2;
}
.offer .offer-grid div:nth-child(5) {
  grid-area: product-3;
}
.offer .offer-grid div:nth-child(6) {
  grid-area: product-4;
}
.offer .offer-grid .cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #94BF13, #3BA632);
  border-radius: 3px;
  cursor: pointer;
}
.offer .offer-grid .cart-icon:hover {
  background: #3AAA35;
}
.offer .offer-grid .offer-card {
  position: relative;
  height: 370px;
  background: none;
  border: 0;
}
.offer .offer-grid .offer-card img {
  height: 370px;
}
.offer .offer-grid .offer-card div {
  position: absolute;
}
.offer .offer-grid .offer-card .offer-1 {
  left: 50%;
  top: 50px;
  padding-right: 5%;
}
.offer .offer-grid .offer-card .offer-1 h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5019607843);
}
.offer .offer-grid .offer-card .offer-1 p {
  font-family: Roboto;
  font-weight: 400;
  padding: 20px 0;
}
.offer .offer-grid .offer-card .offer-1 button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 114px;
  height: 30px;
  background: linear-gradient(105deg, #94BF13, #3BA632);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}
.offer .offer-grid .offer-card .offer-2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  top: 30px;
  right: 6%;
}
.offer .offer-grid .offer-card .offer-2 h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5019607843);
}
.offer .offer-grid .offer-card .offer-2 p {
  font-family: Roboto;
  font-weight: 400;
  width: 380px;
  text-align: right;
  padding: 20px 0;
}
.offer .offer-grid .offer-card .offer-2 button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  width: 114px;
  height: 30px;
  color: #F28822;
  border-radius: 3px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

footer {
  height: 441px;
}

.copyright {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
}
.copyright span {
  margin-left: 30px;
}
.copyright span u {
  cursor: pointer;
}

.footer-menu {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 10px solid #D6DE6A;
  padding: 0 160px;
  padding-top: 50px;
}
.footer-menu > .column-4 {
  font-family: Roboto;
  font-weight: 400;
}
.footer-menu > .column-4 > span {
  display: inline-block;
  padding-bottom: 20px;
}
.footer-menu > .column-4 .subscribe {
  display: flex;
  width: 270px;
  height: 35px;
  border: 1px solid #CED9B9;
  border-radius: 3px;
}
.footer-menu > .column-4 .subscribe input {
  height: 100%;
  width: 70%;
  border: 0;
  padding-left: 15px;
}
.footer-menu > .column-4 .subscribe button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  width: 30%;
  color: white;
  background: linear-gradient(114deg, #94BF13, #3BA632);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}
.footer-menu > .column-4 .subscribe button:hover {
  background: #3BA632;
}
.footer-menu > .column-4 .social-networks {
  margin-top: 70px;
}
.footer-menu > .column-4 .social-networks img {
  margin-right: 40px;
  cursor: pointer;
}
.footer-menu > .column-4 .social-networks img:hover {
  filter: invert(49%) sepia(12%) saturate(3333%) hue-rotate(69deg) brightness(106%) contrast(74%);
}
.footer-menu > .column-2 .invisible {
  visibility: hidden;
}
.footer-menu div .green-line {
  width: 70px;
  height: 3px;
  background-color: #3BA632;
  margin-bottom: 15px;
}
.footer-menu div h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-menu div h4 img {
  display: none;
  width: 10px;
  margin-right: 10px;
}
.footer-menu div .footer-list li {
  font-family: Roboto;
  font-weight: 400;
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer-menu div .footer-list li:hover {
  color: #3BA632;
}
.footer-menu div .footer-list li img {
  width: 7px;
  margin-right: 10px;
}

.content-container {
  display: flex;
  margin: 40px 160px 0 160px;
}
.content-container .side-bar-menu .side-bar-menu-list {
  background-color: #EAF2DA;
}
.content-container .side-bar-menu .side-bar-menu-list > li:first-child {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  cursor: default;
  padding: 0 15px;
}
.content-container .side-bar-menu .side-bar-menu-list > li:last-child a {
  border-bottom: none;
}
.content-container .side-bar-menu .side-bar-menu-list .side-bar-menu-item {
  height: 44px;
  width: 270px;
  cursor: pointer;
  list-style: none;
  padding: 0 15px;
}
.content-container .side-bar-menu .side-bar-menu-list .side-bar-menu-item:hover:first-child {
  background-color: #EAF2DA;
}
.content-container .side-bar-menu .side-bar-menu-list .side-bar-menu-item:hover {
  background-color: #94BF13;
}
.content-container .side-bar-menu .side-bar-menu-list .side-bar-menu-item:hover > a {
  color: white;
  border-bottom: none;
}
.content-container .side-bar-menu .side-bar-menu-list .side-bar-menu-item a {
  font-family: Roboto;
  font-weight: 400;
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  align-items: center;
  border-bottom: 1px solid #CED9B9;
}
.content-container .side-bar-menu .side-bar-menu-list .current-side-menu-bar {
  background-color: #3BA632;
}
.content-container .side-bar-menu .side-bar-menu-list .current-side-menu-bar a {
  color: white;
}
.content-container .category-info {
  margin-left: 40px;
}
.content-container .category-info .paragraph-info h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.content-container .category-info .paragraph-info p {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
  line-height: 25px;
}
.content-container .category-info > .filter-bar {
  font-family: Roboto;
  font-weight: 400;
  display: flex;
  height: 55px;
  width: 870px;
  background-color: #EAF2DA;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  color: black;
  margin-top: 30px;
}
.content-container .category-info > .filter-bar .checkboxes-filter {
  display: flex;
}
.content-container .category-info > .filter-bar .checkboxes-filter .checkbox-container {
  padding-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content-container .category-info > .filter-bar .checkboxes-filter .checkbox-container input {
  accent-color: #3BA632;
}
.content-container .category-info > .filter-bar .checkboxes-filter .checkbox-container input {
  width: 21px;
  height: 21px;
}
.content-container .category-info > .filter-bar .select-filter {
  font-family: Roboto;
  font-weight: 400;
  height: 21px;
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
}
.content-container .category-info > .filter-bar .display-method img {
  margin-left: 10px;
  cursor: pointer;
}

.result-grid-list {
  width: 100%;
  display: grid;
  gap: 30px;
  width: 870px;
  margin: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "product-1 product-2 product-3" "product-4 product-5 product-6" "product-7 product-8 ...";
}
.result-grid-list div:nth-child(1) {
  grid-area: product-1;
}
.result-grid-list div:nth-child(2) {
  grid-area: product-2;
}
.result-grid-list div:nth-child(3) {
  grid-area: product-3;
}
.result-grid-list div:nth-child(4) {
  grid-area: product-4;
}
.result-grid-list div:nth-child(5) {
  grid-area: product-5;
}
.result-grid-list div:nth-child(6) {
  grid-area: product-6;
}
.result-grid-list div:nth-child(7) {
  grid-area: product-7;
}
.result-grid-list div:nth-child(8) {
  grid-area: product-8;
}
.result-grid-list > .product-card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  flex-direction: column;
  height: 370px;
  background-color: white;
  border: 1px solid #EDF4DF;
  text-decoration: none;
  color: black;
}
.result-grid-list > .product-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.result-grid-list > .product-card .upper-card-segment h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 0;
}
.result-grid-list > .product-card .upper-card-segment span {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.result-grid-list > .product-card .bottom-card-segment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 60px;
  padding-top: 20px;
}
.result-grid-list > .product-card .bottom-card-segment > div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.result-grid-list > .product-card .bottom-card-segment > div span:nth-child(1) {
  font-family: Roboto;
  font-weight: 400;
  color: #3BA632;
}
.result-grid-list > .product-card .bottom-card-segment > div span:nth-child(1) span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
}
.result-grid-list > .product-card .bottom-card-segment > div span:nth-child(2) {
  color: #4D4D4D;
  font-family: Roboto;
  font-weight: 400;
}
.result-grid-list .cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #94BF13, #3BA632);
  border-radius: 3px;
  cursor: pointer;
}
.result-grid-list .cart-icon:hover {
  background: #3AAA35;
}
.result-grid-list .offer-card {
  position: relative;
  height: 370px;
  background: none;
  border: 0;
}
.result-grid-list .offer-card img {
  height: 370px;
}
.result-grid-list .offer-card div {
  position: absolute;
}
.result-grid-list .offer-card .offer-1 {
  left: 50%;
  top: 50px;
  padding-right: 5%;
}
.result-grid-list .offer-card .offer-1 h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5019607843);
}
.result-grid-list .offer-card .offer-1 p {
  font-family: Roboto;
  font-weight: 400;
  padding: 20px 0;
}
.result-grid-list .offer-card .offer-1 button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 114px;
  height: 30px;
  background: linear-gradient(105deg, #94BF13, #3BA632);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}
.result-grid-list .offer-card .offer-2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  top: 30px;
  right: 6%;
}
.result-grid-list .offer-card .offer-2 h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5019607843);
}
.result-grid-list .offer-card .offer-2 p {
  font-family: Roboto;
  font-weight: 400;
  width: 380px;
  text-align: right;
  padding: 20px 0;
}
.result-grid-list .offer-card .offer-2 button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  width: 114px;
  height: 30px;
  color: #F28822;
  border-radius: 3px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.content-container .detail-section {
  width: 100%;
}
.content-container .detail-section .image-info-box {
  display: flex;
  justify-content: space-between;
}
.content-container .detail-section .image-info-box .image {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-container .detail-section .image-info-box .image img {
  height: 300px;
}
.content-container .detail-section .image-info-box .info {
  width: 55%;
}
.content-container .detail-section .image-info-box .info .headings h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 5px;
}
.content-container .detail-section .image-info-box .info .headings h2 {
  font-family: Roboto;
  font-weight: 300;
  color: #4D4D4D;
  font-size: 22px;
  margin-bottom: 25px;
}
.content-container .detail-section .image-info-box .info .product-category-links {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.content-container .detail-section .image-info-box .info .product-category-links span {
  font-family: Roboto;
  font-weight: 700;
  color: #4D4D4D;
}
.content-container .detail-section .image-info-box .info .product-category-links .circle {
  width: 3px;
  height: 3px;
  background-color: #94BF13;
  border-radius: 50%;
  display: inline-block;
}
.content-container .detail-section .image-info-box .info .product-category-links a {
  font-family: Roboto;
  font-weight: 400;
  text-decoration: none;
  color: #3BA632;
}
.content-container .detail-section .image-info-box .info .paragraph {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.content-container .detail-section .image-info-box .info .package-storage {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.content-container .detail-section .image-info-box .info .package-storage .package {
  font-family: Roboto;
  font-weight: 700;
  color: #4D4D4D;
}
.content-container .detail-section .image-info-box .info .package-storage .storage {
  font-family: Roboto;
  font-weight: 700;
  color: #3BA632;
}
.content-container .detail-section .image-info-box .info .package-storage .invisible {
  visibility: hidden;
}
.content-container .detail-section .image-info-box .info .shopping-parameters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #F6FAED;
  width: 500px;
  height: 110px;
  border: 1px solid #CED9B9;
  border-radius: 5px;
  padding: 30px;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .price-product {
  display: flex;
  flex-direction: column;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .price-product .club-price {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: #3BA632;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .price-product .club-price > span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .price-product .basic-price {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option {
  display: flex;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .quantity-option {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .quantity-option div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid #CED9B9;
  color: #4D4D4D;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .quantity-option div:first-child,
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .quantity-option div:last-child {
  width: 20px;
  color: #B3B3B3;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .quantity-option div:first-child {
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .quantity-option div:last-child {
  border-radius: 0 3px 3px 0;
  border-left: none;
}
.content-container .detail-section .image-info-box .info .shopping-parameters .quantity-buy-option .buy-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3AAA35;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.content-container .detail-section .product-detail-box {
  margin-left: 40px;
}
.content-container .detail-section .product-detail-box .product-info-buttons {
  max-width: 878px;
  margin: 40px 0 30px;
}
.content-container .detail-section .product-detail-box .product-info-buttons div {
  display: flex;
  flex-direction: row;
}
.content-container .detail-section .product-detail-box .product-info-buttons div button {
  min-width: 290px;
  height: 44px;
  color: white;
  background-color: #94BF13;
  border: none;
  cursor: pointer;
}
.content-container .detail-section .product-detail-box .product-info-buttons div button:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.content-container .detail-section .product-detail-box .product-info-buttons div button:first-child {
  border-radius: 5px 0 0 5px;
}
.content-container .detail-section .product-detail-box .product-info-buttons div button:last-child {
  border-radius: 0 5px 5px 0;
}
.content-container .detail-section .product-detail-box .product-info-buttons div .current-product-info-buttons {
  background-color: #3BA632;
}
.content-container .detail-section .product-detail-box .description-1 {
  margin-bottom: 50px;
}
.content-container .detail-section .product-detail-box .description-1 h5 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
}
.content-container .detail-section .product-detail-box .description-1 p {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
  margin: 20px 0;
}
.content-container .detail-section .product-detail-box .description-1 ul {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.content-container .detail-section .product-detail-box .description-1 ul li {
  list-style: none;
  margin-bottom: 15px;
}
.content-container .detail-section .product-detail-box .description-1 ul > ::before {
  content: "•";
  color: #94BF13;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 10px;
}
.content-container .detail-section .product-detail-box .description-2 h5 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
}
.content-container .detail-section .product-detail-box .description-2 p {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
  margin: 20px 0;
}
.content-container .detail-section .product-detail-box .description-2 ul {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.content-container .detail-section .product-detail-box .description-2 ul li {
  list-style: none;
  margin-bottom: 15px;
}
.content-container .detail-section .product-detail-box .description-2 ul > ::before {
  content: "•";
  color: #94BF13;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 10px;
}

.other-offered-products {
  margin: 60px 0 40px;
  position: relative;
}
.other-offered-products h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
}
.other-offered-products .slider-buttons {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.other-offered-products .slider-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 70px;
  opacity: 0.7;
}
.other-offered-products .slider-buttons button:hover {
  opacity: 1;
}
.other-offered-products .grid-other-offered-products {
  position: relative;
  display: grid;
  width: 100%;
  gap: 30px;
  width: 870px;
  z-index: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "product-1 product-2 product-3 product-4";
  margin: 30px 160px 0px;
}
.other-offered-products .grid-other-offered-products div:nth-child(1) {
  grid-area: product-1;
}
.other-offered-products .grid-other-offered-products div:nth-child(2) {
  grid-area: product-2;
}
.other-offered-products .grid-other-offered-products div:nth-child(3) {
  grid-area: product-3;
}
.other-offered-products .grid-other-offered-products div:nth-child(4) {
  grid-area: product-4;
}
.other-offered-products .grid-other-offered-products > .product-card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  padding: 20px 20px;
  flex-direction: column;
  height: 370px;
  background-color: white;
  border: 1px solid #EDF4DF;
  width: 270px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.other-offered-products .grid-other-offered-products > .product-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.other-offered-products .grid-other-offered-products > .product-card .upper-card-segment h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 0;
}
.other-offered-products .grid-other-offered-products > .product-card .upper-card-segment span {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.other-offered-products .grid-other-offered-products > .product-card .bottom-card-segment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 60px;
  padding-top: 20px;
}
.other-offered-products .grid-other-offered-products > .product-card .bottom-card-segment > div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.other-offered-products .grid-other-offered-products > .product-card .bottom-card-segment > div span:nth-child(1) {
  font-family: Roboto;
  font-weight: 400;
  color: #3BA632;
}
.other-offered-products .grid-other-offered-products > .product-card .bottom-card-segment > div span:nth-child(1) span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
}
.other-offered-products .grid-other-offered-products > .product-card .bottom-card-segment > div span:nth-child(2) {
  font-family: Roboto;
  font-weight: 400;
  color: #4D4D4D;
}
.other-offered-products .grid-other-offered-products .cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #94BF13, #3BA632);
  border-radius: 3px;
  cursor: pointer;
}
.other-offered-products .grid-other-offered-products .cart-icon:hover {
  background: #3AAA35;
}

@media only screen and (max-width: 650px) {
  .menu-info .logo {
    margin: 18px auto;
    display: block;
  }
  .menu-info .dropdown-search-bar,
  .menu-info .login,
  .menu-info .cart,
  .menu-info .language {
    display: none;
  }
  .menu-categories {
    padding: 0 30px 0 0;
  }
  .menu-categories .category-navbar {
    display: none;
  }
  .menu-categories .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu-categories .mobile-navbar .menu-mobile-item {
    display: flex;
  }
  .menu-categories .mobile-navbar .menu-mobile-item-active {
    background-color: white;
  }
  .menu-categories .mobile-navbar .menu-mobile-item-active img,
  .menu-categories .mobile-navbar .menu-mobile-item-active span {
    filter: invert(0%) sepia(16%) saturate(7497%) hue-rotate(187deg) brightness(0%) contrast(101%);
  }
  .menu-categories .mobile-navbar .mobile-menu-button .mobile-menu-toogle > .hamburger-icon a {
    padding: 19px 30px 19px 30px;
  }
  .menu-categories .mobile-navbar .mobile-menu-button .mobile-menu-toogle > .hamburger-icon a img {
    margin-right: 10px;
    display: flex;
  }
  .menu-categories .mobile-navbar .search-login-cart ul li {
    margin-left: 40px;
  }
  .mobile-menu-dropdown {
    position: absolute;
    width: 340px;
    left: 0;
    top: 60px;
    background-color: white;
  }
  .mobile-menu-dropdown ul {
    width: 100%;
  }
  .mobile-menu-dropdown ul li {
    padding: 20px 0 20px 58px;
    cursor: pointer;
  }
  .mobile-menu-dropdown ul li a {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  .traits-container {
    flex-direction: column;
    height: 100%;
    margin: 40px 30px;
  }
  .traits-container .traits-box:not(:first-child) {
    margin-top: 40px;
  }
  .offer {
    height: 2642px;
    padding: 0 0;
  }
  .offer .offer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "product-1" "product-2" "offer-banner-1" "product-3" "product-4" "offer-banner-2";
  }
  .offer .offer-grid .product-card {
    width: 270px;
    margin: 0 auto;
  }
  .offer .offer-grid .offer-card {
    position: relative;
    background: none;
    height: 370px;
    border: 0;
    margin: 0 auto;
  }
  .offer .offer-grid .offer-card img {
    height: 370px;
  }
  .offer .offer-grid .offer-card div {
    position: absolute;
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 0;
  }
  .footer-menu .column-1 :not(:first-child),
  .footer-menu .column-2 :not(:first-child),
  .footer-menu .column-3 :not(:first-child) {
    display: none;
  }
  .footer-menu .column-1 h4,
  .footer-menu .column-2 h4,
  .footer-menu .column-3 h4 {
    margin-top: 30px;
  }
  .footer-menu .column-4 h4 {
    margin-top: 30px;
  }
  .footer-menu .column-2 {
    display: none;
  }
  .footer-menu .column-1 h4,
  .footer-menu .column-3 h4 {
    cursor: pointer;
  }
  .footer-menu .column-1 h4 img,
  .footer-menu .column-3 h4 img {
    display: inline;
  }
}/*# sourceMappingURL=style.css.map */